body{
  background-color: grey;
}

summary{
  list-style: none;
  background-color: green;
  color: #FFFFFF;
}

.leftnavi{
  margin-top: 15%;
  width: 20%;
  margin-left: 1%;
  margin-right: 0;
}

.field{
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.main{
  background-color: #FFFFFF;
  margin-top: 5vh;
  margin-right: 1vw;
  margin-left: 1vw;
  width: 77vw;
  min-height: 92vh;
  height: auto;
  padding: 3vh 3vw 3vh 3vw;
}
