body{
  background-color: grey;
}

summary{
  list-style: none;
  background-color: green;
  color: #FFFFFF;
}

.leftnavi{
  width: 15vw;
}

.field{
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}
