body{
  background-color: grey;
}

summary{
  list-style: none;
  background-color: green;
}

.leftnavi{
  width: 5vw;
}

.field{
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}
