body{
  background-color: grey;
}

summary{
  list-style: none;
  background-color: green;
  color: #FFFFFF;
}

.leftnavi{
  margin-top: 15%;
  width: 20%;
  margin-left: 1%;
  margin-right: 0;
}

.field{
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.main{
  background-color: #FFFFFF;
  margin-top: 5%;
  margin-right: 1%;
  margin-left: 1%;
  width: 77%;
  min-height: 100%;
  height: auto;
  padding: 3%;
}
